<ng-container
  *ngIf="{
    discoverMovies: discoverMovies$ | async,
    filterAndSort: filterAndSort$ | async,
    saveToFavouriteAction: saveToFavouriteAction$ | async
  } as vm"
>
  <div class="container">
    <div class="py-3">
      <div class="d-flex items-center justify-between">
        <mat-form-field appearance="outline">
          <mat-label>Enter a release date range</mat-label>
          <mat-date-range-input
            [formGroup]="primaryReleaseDate"
            [rangePicker]="picker"
          >
            <input
              matStartDate
              formControlName="startDate"
              placeholder="Start date"
            />
            <input
              matEndDate
              formControlName="endDate"
              placeholder="End date"
            />
          </mat-date-range-input>
          <mat-datepicker-toggle
            (click)="onResetDate()"
            *ngIf="
              primaryReleaseDateControls['startDate'].value ||
              primaryReleaseDateControls['endDate'].value
            "
            matSuffix
          >
            <mat-icon matDatepickerToggleIcon>clear</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>

        <mat-button-toggle-group
          [formGroup]="sorting"
          name="sorting"
          aria-label="Ingredients"
        >
          <mat-button-toggle
            (change)="onToggle($event, 'popularity')"
            [value]="sortingControls['popularity'].value"
            >Popularity
            <mat-icon>{{
              sortIconDict(sortingControls["popularity"].value)
            }}</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle
            (change)="onToggle($event, 'release_date')"
            [value]="sortingControls['release_date'].value"
            >Release Date
            <mat-icon>{{
              sortIconDict(sortingControls["release_date"].value)
            }}</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle
            (change)="onToggle($event, 'vote_count')"
            [value]="sortingControls['vote_count'].value"
            >Vote Count
            <mat-icon>{{
              sortIconDict(sortingControls["vote_count"].value)
            }}</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <div class="custom-grid">
        <ng-container *ngFor="let movie of vm.discoverMovies">
          <mat-card appearance="outlined">
            <img
              *ngIf="movie.poster_path; else noImage"
              class="object-fit-cover-center discover-thumbnail"
              mat-card-image
              [src]="movie.poster_path"
              [attr.alt]="movie.title"
            />
            <ng-template #noImage>
              <div
                class="discover-thumbnail-not-found d-flex items-center justify-center"
              >
                <h5>Thumbnail not provided</h5>
              </div>
            </ng-template>
            <mat-card-content class="movie-list-card-content">
              <h5 class="h5 mat-headline-6 text-truncate">
                {{ movie.title }}
              </h5>
              <div class="movie-list-overview">
                <h5 class="h5 mat-body-1">Overview</h5>
                <p class="line-clamp-4 mat-caption color-grey">
                  {{ movie.overview }}
                </p>
              </div>
              <div class="movie-list-genres">
                <h5 class="h5 mat-body-1">Genres</h5>
                <div class="d-flex">
                  <small
                    *ngFor="let item of movie.genres; last as isLast"
                    class="mat-caption color-grey"
                    >{{ item }}<span *ngIf="!isLast">,</span></small
                  >
                </div>
              </div>
              <div class="popularity">
                <h5 class="h5 mat-body-1">Popularity</h5>
                <div class="d-flex">
                  <small> {{ movie.popularity }} </small>
                </div>
              </div>
            </mat-card-content>
            <mat-card-actions class="justify-between">
              <button mat-button (click)="markAsFavourite(movie.id)">
                Save
              </button>
              <button mat-button [routerLink]="['/detail', movie.id]">
                Details
              </button>
            </mat-card-actions>
          </mat-card>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>
